*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/*---------------------|
|      NAVEGACION      |
|---------------------*/
.aula-virtual{
  display: flex;
}
.pagina_institucional {
  background-color: #333;
  color: #fff;
  width: 21%;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px 20px 20px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.pagina_institucional-cabecera{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-bottom: 1px solid #fff;
}
.pagina_institucional-cabecera img{
  width: 20%;
}
.pagina_institucional-cabecera h2{
  width: 65%;
  padding-left: 10px;
  font-size: 2em;
}
.pagina_institucional ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.pagina_institucional li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding-left: 13px;
  font-size: 1.1em;
}
.pagina_institucional a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px;
}
.pagina_institucional li:hover {
  background-color: #555;
}
#menu_a_nombre{
  display: block;
}

/*-----------------------------------------|
|     LO QUE SE PONE EN EL BIENVENIDO      |
|-----------------------------------------*/
.content {
  /* padding: 20px; */
  width: 79%;
}
#bienvenido_user{
  height: 18vh;
  background-color: rgb(226, 229, 231);
  display: flex;
  justify-content: center;
  align-items: center;
}
.others{
  padding: 0 4%;
  height: 13vh;
  display: flex;
  align-items: center;
}


/*-----------------------------------------|
|      CARRERAS SECTION (BIENVENIDOS)      |
|-----------------------------------------*/

.carreras_js {
  padding: 1% 4%;
}

.carrera {
  height: 20vh;
  background-color: #333;
  color: #fff;
  padding-left: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  position: relative;/* para que se mantenga en los div y no se ponga a la izquierda de todo */
  border-left: 5px solid aqua; 
  display: flex;
  align-items: center;
}
/*Para el cursor*/
.carrera:hover {
  background-color: #555;
}
/*Esto es para la linea es muy util en relidad*/

.titulo_curso{
  font-size: 1.7em;
  padding-bottom: 5px;
}
.cod_curso{
  font-size: 0.8em;
  color: #929292;
  padding-bottom: 5px;
}
.info_curso{
  font-size: 1em;
}
/*-----------------------------------------|
|   XSIACA SI ES Q NECESITAMOS UN FOOTER   |
|-----------------------------------------*/
/* footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
} */