:root {
    --color1: #00a5d4;
    --color2: rgba(0, 0, 0, 0.274);
    --color3: rgb(58, 58, 58);
    --carrera_width: calc(97% / 3);
    --carrera_height: calc(110vh / 2);
    --carrera_background-size: cover;
    --carrera_border-radius: 20px;
    --carrera_margin: 0 0.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/*-----------------------------------|
|                MENÚ                |
|-----------------------------------*/

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color2);
    color: white;
    padding: 10px 20px;
    position: fixed; 
    top: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    z-index: 1000;
}
.logo{
    width: 14%;    
}
.logo img {
    width: 100%;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.menu li {
    position: relative;
    margin: 0 20px;
}
.menu li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}
.menu li a:hover {
    background-color: gray;
    border-radius: 10px;
}
.submenu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(94, 94, 94);
    padding: 10px;
    list-style-type: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000;
    min-width: 500px;
    box-sizing: border-box;
}

.submenu li {
    margin:0 5px ;
}
.submenu li a {
    padding: 10px 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.submenu li a:hover {
    background-color: gray;
    border-radius: 10px;
    color: white;
}
.menu li:hover .submenu {
    display: inline-flex;
}
.inscribete {
    margin-left: auto;
}
.inscribete button {
    background-color: gray;
    color: white;
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
}
.inscribete button:hover {
    background-color: var(--color1);
}



main{
    position: relative;
}

/*-----------------------------------|
|           CARRUSEL HOME            |
|-----------------------------------*/
.container-carrusel{
    position: relative;
    width: 100%;
    height: 97vh;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.carruseles{
    width: 300%;
    height: 100%;
    display: flex;
}
.slider-section{
    width: calc(100% / 3);
    height: 100%;
}
.btn-left, .btn-right{
    display: flex;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.btn-left{left: 1px;}.btn-right{right: 1px;}
.background1{
    
    background-image: url(bk1.jpg);
    background-size: cover;
    
}
.background2{
    background-image: url(bk2.jpg);
    background-size: cover;
}
.background3{
    background-image: url(bk3.jpg);
    background-size: cover;
}
.gradient{
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.69));
}

/*-----------------------------------|
|         NOMBRE DEL ITDP            |
|-----------------------------------*/
.itdp-name-container{
    margin-top: 10vh;
    height: 40vh;
    display: flex;
    background-color: var(--color1);
}
.itdp-name{
    margin: 5% auto 0 auto;
    background-color: #ffffff;
    height: 20vh;
    width: 70%;
    border-radius: 60px 60px 60px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
    color: rgb(58, 58, 58);
}
/*-----------------------------------|
|         CARRERAS SECTION           |
|-----------------------------------*/
.carreras-h2-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}
.carreras-h2-container h2{
    text-align: center;
    width: 11vw;
    height: 7vh;
    border-bottom: 5px solid var(--color1);
    font-size: 2em;
    color: var(--color3);
}
.carreras-content{
    height: 114vh;
    display: flex;
    flex-wrap: wrap;
    padding: 0 15%;
}
.carrera{
    width: var(--carrera_width);
    height: var(--carrera_height);
    background-image: url(adminYsistemas.jpg);
    background-size: var(--carrera_background-size);
    border-radius: var(--carrera_border-radius);
    margin: var(--carrera_margin);
}
/*Estilo dinámico para JA src = carreras.js*/
.carrera2{
    background-image: url(computacion-informatica.jpg);
    width: var(--carrera_width);
    height: var(--carrera_height);
    background-size: var(--carrera_background-size);
    border-radius: var(--carrera_border-radius);
    margin: var(--carrera_margin);
}
.carrera3{
    background-image: url(electricidad-industrial.jpg);
    width: var(--carrera_width);
    height: var(--carrera_height);
    background-size: var(--carrera_background-size);
    border-radius: var(--carrera_border-radius);
    margin: var(--carrera_margin);
}
.carrera4{
    background-image: url(dibujo-arquitectonico.jpg);
    width: var(--carrera_width);
    height: var(--carrera_height);
    background-size: var(--carrera_background-size);
    border-radius: var(--carrera_border-radius);
    margin: var(--carrera_margin);
}
.carrera5{
    background-image: url(mecanica-automotriz.jpg);
    width: var(--carrera_width);
    height: var(--carrera_height);
    background-size: var(--carrera_background-size);
    border-radius: var(--carrera_border-radius);
    margin: var(--carrera_margin);
}
.carrera6{
    background-image: url(graphic-design.jpg);
    width: var(--carrera_width);
    height: var(--carrera_height);
    background-size: var(--carrera_background-size);
    border-radius: var(--carrera_border-radius);
    margin: var(--carrera_margin);
}
/*---------------------------------------*/
.carrera-fade{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.828));
    border-radius: 20px;
}
.carrera-content{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    border-radius: 0 0 20px 20px;
    /* background-color: #00a5d4; */
}
.carrera-content p{
    color: #fff;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.9em;
    padding: 0 5%;
}
.carrera-button{
    background-color: transparent;
    border: 1px solid transparent;
    text-decoration: none;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 5%;
}
.carrera-button a{
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}
.carrera-button a:hover{
    background-color: var(--color1);
    transition: .6s;
}
.conoce-mas{
    height: 20vh;
}
/*-----------------------------------|
|        WHATSAPP FLOTANTE           |
|-----------------------------------*/
.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    /* z-index: 1000; */
    padding: 10px 30px;
}
.whatsapp img {
    width: 100%;
    height: 100%;
}
.wasap {
    display: none;
    position: absolute;
    bottom: 60px;
    right: 10px;
    background-color: rgb(55, 230, 24);
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}
.whatsapp:hover .wasap {
    display: block;
}